:root {
  font-family: 'Manrope', 'Inter', sans-serif;

  line-height: 1.25;
  font-weight: 400;
  font-size: 16px;

  --main: #101828;
  --gray: #8d929a;
  --gray-light: #dadde1;
  --badges: #f2f4f7;
  --inputs: #f7f7f7;
  --white: #fff;
  --button: #3470ff;
  --button-hover: #0b44cd;

  background: var(--white);
  color: var(--main);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

button {
  padding: 0;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

select,
input,
button {
  outline: none;
}

/* react-datepicker custom styles*/

.react-datepicker-popper .react-datepicker {
  border: none;
}

.react-datepicker .react-datepicker__month-container {
  border: 1px solid var(--button);

  border-radius: 12px;
}
.react-datepicker .react-datepicker__header {
  background: transparent;
  border-bottom: 1px solid var(--button);
}

.react-datepicker__navigation .react-datepicker__navigation-icon::before {
  border-color: var(--button);
}

.react-datepicker__month .react-datepicker__day--selected {
  border-radius: 32px;
  background-color: var(--button);
}
